@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 2px;
    padding: 2px;
    border: none;
}


body {
    font-family: Lato, sans-serif;
    font-family: Oswald, sans-serif;
}

.page-color {
    background-color: lightyellow;
}

h1 {
    font-size: 180%;
    font-weight: 900;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}


.logo_text {
    font-size: large;
    text-decoration: none;
}


#menu {
    font-family: Lato, sans-serif;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation menu */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    display: inline;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 3px solid orangered;
}


.active {
    border-bottom: 3px solid orangered;
}

/* logo and top image */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#top_image_media {
    height: 850px;
    width: 100%;
    background: url('../images/banana.jpg') no-repeat center center;
}

#top_image_media {
    overflow: hidden;
    position: relative;
}

/* top image text styling */

#top_image_text,
#top_image_text h2 {
    color: black;
}

#top_image_text {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: right;

    width: 300px;
    height: 260px;

    padding-top: 60px;
    padding-left: 40px;


    background-color: rgba(66, 146, 97, 0.8);

    top: 90px;
    right: 540px;

    position: absolute;
}

#top_image_text2 {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: left;

    width: 300px;
    height: 160px;

    background-color: rgba(170, 35, 101, 0.8);

    bottom: 220px;
    left: 20px;

    position: absolute;
}

#top_image_text2 h2 {
    padding-top: 22px;
}

/* philosophy */

#h2_heading {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 320%;
    font-family: cursive;
    color: black;
}

#philosophy_container {
    width: 100%;
    height: 800px;
    background: url('../images/carrot_edit.png') no-repeat center center, rgba(66, 146, 97, 0.8);
    margin: 0 auto;
    padding-bottom: 0%;
}

#philosophy_text {
    font-size: 120%;
    width: auto;
    height: auto;
    text-align: center;
    font-family: cursive;
    color: black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: darkslategrey;
}

/* selected link */
a:active {
    color: darkslategrey;
}

/* recipes list styling */

.recipes_h2 {

    text-align: center;
    font-size: 320%;
    font-family: cursive;
    color: black;
}

#recipe_list {
    background-image: url('../images/garlic2.png');
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#recipe_list div {
    color: black;
    background-color: rgba(170, 35, 101, 0.8);
    /*rgba(199, 181, 64, 0.8)*/
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

/* newsletter sign up styling */

#newsletter {
    font-family: Oswald, sans-serif;
    text-align: center;
    background-color: #ebbe25;
}

button {
    background-color: lightyellow;
    border: 8px solid rgba(66, 146, 97, 0.8);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.signupbtn {
    font-weight: 500;
    font-size: medium;
    text-align: center;
}

/* social network styling */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.owner {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    float: right;
    text-decoration: none;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    #top_image_media {
        height: 650px;
        width: 100;
        clear: both;
    }

    #top_image_text {
        right: 0;
        top: 120px;
    }


    #philosophy_container>div {
        width: 100%;
        height: 460px;
        padding: 0;
    }

    #philosophy_media>div {
        font-size: 100%;
    }

    #recipe_list>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium to small screens 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: right;
        float: right;
        right: 0;
        margin-left: 2px;
        margin-bottom: 2px;
        line-height: 15px;
    }

    #top_image_text {
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto;
        right: 0;
        font-size: 100%;
        bottom: auto;
    }

    #top_image_text2 {
        bottom: 120px;
        left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #philosophy_container {
        width: 100%;
        height: 700px;
    }

    #philosophy_text {
        font-size: 100%;
    }

    #philosophy_media>div h2 {
        font-size: 180%;
    }

}