@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 2px;
    padding: 2px;
    border: none;
}


body {
    font-family: Lato, sans-serif;
    font-family: Oswald, sans-serif;
}

/* Page background color */

.page-color {
    background-color: lightyellow;
}

h1 {
    font-size: 180%;
    font-weight: 900;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}


.logo_text {
    font-size: large;
    text-decoration: none;
}


#menu {
    font-family: Lato, sans-serif;
    color: black;
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation menu */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    display: inline;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 3px solid orangered;
}


.active {
    border-bottom: 3px solid orangered;
}


/* logo and top image */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#top_image_media {
    height: 850px;
    width: 100%;
    background: url('../images/banana.jpg') no-repeat center center;
    border-radius: 18px;
}

#top_image_media {
    overflow: hidden;
    position: relative;
}

/* top image text styling */

#top_image_text,
#top_image_text h2 {
    color: black;
}

#top_image_text {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: right;

    width: 300px;
    height: 260px;

    padding-top: 60px;
    padding-left: 40px;


    background-color: rgba(66, 146, 97, 0.8);

    top: 90px;
    right: 540px;

    position: absolute;
}

#top_image_text2 {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: left;

    width: 300px;
    height: 160px;

    background-color: rgba(170, 35, 101, 0.8);

    bottom: 220px;
    left: 20px;

    position: absolute;
}

/* philosophy */

#philosophy_container {
    width: 100%;
    height: 800px;
    background: url('../images/cabbage.png') no-repeat right bottom;
    background-color: rgba(66, 146, 97, 0.1);
    margin: 0 auto;
    padding-bottom: 0%;
}

#philosophy_text {
    padding-top: 20px;
    font-size: 120%;
    width: auto;
    height: auto;
    text-align: center;
    font-family: Oswald, sans-serif;
    color: black;
}

.philosophy_tab {
    border-radius: 18px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: darkslategrey;
}

/* selected link */
a:active {
    color: darkslategrey;
}

/* recipes list styling */

#recipe_list>h2 {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: large;
}

#recipe_list {
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

#recipe_list div {
    color: black;
    background-color: rgba(170, 35, 101, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

#recipe_list2 {
    height: 60%;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

.recipe2_image2 {
    background: url('../images/wheat.png') no-repeat center center;
}

#recipe_list2 div {
    color: black;
    background-color: rgba(221, 192, 0, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

#recipe_list3 {
    height: 60%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

#recipe_list3 div {
    color: black;
    background-color: rgba(66, 146, 97, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

.recipe3_image {
    background: url('../images/beet.png') no-repeat center center;
}

#recipe_list4 {
    height: 60%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

#recipe_list4 div {
    color: black;
    background-color: rgba(201, 205, 48, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

.recipe4_image {
    background: url('../images/zucchini.png') no-repeat center center;
}

#recipe_list5 {
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

#recipe_list5 div {
    color: black;
    background-color: rgba(170, 35, 101, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

.recipe5_image {
    background: url('../images/chocolate.png') no-repeat center center;
}

#recipe_list6 {
    height: 60%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0%;
    font-family: Oswald, sans-serif;
}

#recipe_list6 div {
    color: black;
    background-color: rgba(66, 146, 97, 0.2);
    width: 33%;
    height: 600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 0px solid lightyellow;
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 18px;
}

.recipe6_image {
    background: url('../images/palm-tree.png') no-repeat center center;
    display: block;
    position: relative;
}

/* recipe list animation */

#recipe_animation {
    width: 100px;
    height: 100px;
    background: rgba(170, 35, 101, 0.2);
    position: relative;
    animation-name: animation;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }
  
  @keyframes animation {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(170, 35, 101, 0.8);}
  }

  #recipe_animation2 {
    width: 100px;
    height: 100px;
    background: rgba(221, 192, 0, 0.2);
    position: relative;
    animation-name: animation2;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }

  @keyframes animation2 {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(221, 192, 0, 0.8);}
  }

  #recipe_animation3 {
    width: 100px;
    height: 100px;
    background: rgba(66, 146, 97, 0.2);
    position: relative;
    animation-name: animation3;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }

  @keyframes animation3 {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(66, 146, 97, 0.8);}
  }

  #recipe_animation4 {
    width: 100px;
    height: 100px;
    background: rgba(221, 192, 0, 0.2);
    position: relative;
    animation-name: animation4;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }

  @keyframes animation4 {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(221, 192, 0, 0.8);}
  }

  #recipe_animation5 {
    width: 100px;
    height: 100px;
    background: rgba(170, 35, 101, 0.2);
    position: relative;
    animation-name: animation5;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }

  @keyframes animation5 {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(170, 35, 101, 0.8);}
  }

  #recipe_animation6 {
    width: 100px;
    height: 100px;
    background: rgba(66, 146, 97, 0.2);
    position: relative;
    animation-name: animation6;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    animation-direction: reverse;
    border-radius: 18px;
    font-size: 100%;
    text-align: center;
  }

  @keyframes animation6 {
    from {left: 0px;}
    to {left: 800px; background-color: rgba(66, 146, 97, 0.8);}
  }

ul {
    list-style-type: none;
}

/* newsletter sign up styling */

#newsletter {
    font-family: Oswald, sans-serif;
    text-align: center;
    background-color: rgba(66, 146, 97, 0.8);
    border-radius: 18px;
}

button {
    background-color: lightyellow;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.signupbtn {
    font-weight: 500;
    font-size: medium;
    text-align: center;
}

.clearfloats::after {
    content: "";
    clear: both;
    display: table;
}

/* social network styling */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.owner {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    float: right;
    text-decoration: none;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {

    #top_image_media {
        height: 650px;
        width: 100%;
        clear: both;
    }

    #top_image_text {
        right: 0;
        top: 120px;
    }

    #philosophy_container {
        background: rgba(66, 146, 97, 0.1);
    }

    #philosophy_container>div {
        width: 100%;
        height: 460px;
        padding: 0;
    }

    #philosophy_media>div {
        font-size: 100%;
    }

    #recipe_list>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        overflow: auto;
    }

    #recipe_list2>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        overflow: auto;
    }

    #recipe_list3>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        overflow: auto;
    }

    #recipe_list4>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        overflow: auto;
    }

    .recipe4_image {
        display: none;
        visibility: hidden;
    }

    #recipe_list5>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        background-image: none;
        overflow: auto;
    }

    .recipe5_image {
        display: none;
        visibility: hidden;
    }

    #recipe_list6>div {
        width: 100%;
        clear: both;
        height: 600px;
        padding: 0;
        /*background-image: none;*/
        overflow: auto;
    }

    hr {
        display: none;
    }
}

/* For medium to small screens 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: both;
        float: right;
        right: 0;
        margin-left: 2px;
        margin-bottom: 2px;
        line-height: 15px;
        display: block;
    }

    #top_image_text {
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto;
        right: 0;
        font-size: 100%;
        bottom: auto;
    }

    #top_image_text2 {
        bottom: 120px;
        left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #philosophy_container {
        width: 100%;
        height: 800px;
        background: none;
        background-color: rgba(66, 146, 97, 0.1);
    }

    #philosophy_text {
        font-size: 100%;
    }

    #h2_heading {
        font-size: 180%;
    }

    .recipes_h2 {
        font-size: 180%;
        text-align: center;
    }

    .recipe4_image {
        display: none;
        visibility: hidden;
    }

    #recipe_animation {
        width: 100px;
        height: 100px;
        background: rgba(170, 35, 101, 0.2);
        position: absolute;
        animation-name: animation;
        animation-duration: 4s;  
        animation-fill-mode: forwards;
        animation-direction: reverse;
        border-radius: 18px;
        font-size: 100%;
        text-align: center;
        visibility: hidden;
      }
      
      @keyframes animation {
        from {left: 0px;}
        to {left: 800px; background-color: rgba(170, 35, 101, 0.8);}
      }

}